{% extends 'base.html' %}

{% block title %}Simple python app example{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="article-heading">Simple Python app for Google Appengine</h1>

			<blockquote>Making it easy to make simple apps</blockquote>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h2 class="sub-heading">What is this?</h2>
			<p>This is a template app to provide a basic scaffold for a Python app deployed on Google App Engine.</p>
			<p>It is meant to provide a good basis for relatively uncomplicated small applications.</p>
		</div>
		<div class="col-md-6">
			<h2 class="sub-heading">How do I use it?</h2>

			<ol>
				<li>Add the git repo as a remote to your project repo and pull the template into your new project.</li>
				<li>That's it.</li>
			</ol>


		</div>
	</div>
</div>

{% endblock %}
